<phpunit
        convertWarningsToExceptions="false"
        bootstrap="vendor/autoload.php"
        processUncoveredFilesFromWhitelist="false">

    <testsuites>
        <testsuite name="Main Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

</phpunit>